<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Smart Campus</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> --> 
    </head>

    <body>
        <div class="login">
        <h1>Predict Crime Analysis</h1>
       
       <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}"method="post">
            	<input type="text" name="location" placeholder="Location" required="required" />
            <input type="date" name="future-date" value="2020-11-1"/>
            <input type="text" name="time-hour" placeholder="time-hour"/>
            
            <!--
            <input type="text" name="week_number" placeholder="Week Number" required="required" />
        		<input type="text" name="week_day" placeholder="Week Day" required="required" />
        		<input type="text" name="month" placeholder="Month" required="required" />
        		<input type="text" name="time_hour" placeholder="Time Hour" required="required" />
        		<input type="text" name="year" placeholder="Year" required="required" />
            -->

            <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>
       <br>
       <br>
       {{ prediction_text }}
     </div>
    </body>
</html>
